/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	License: MIT <https://opensource.org/licenses/MIT>
	Licensed by: Smashing Media GmbH <https://www.smashingmagazine.com/>
	Original author: Enrique Ramírez <http://enrique-ramirez.com/>
*/

/* Imports */
@import url("reset.css");
@import url("pygment.css");
@import url("typogrify.css");
@import url("fonts.css");

/***** Global *****/
/* Body */
body,.home,.body{
    background: #000;
    color: #fff;
    font-size: 87.5%; /* Base font size: 14px */
    font-family:  Arial,' 'Lucida Sans',Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
	width:100%;
}

/* Headings */
h1 {font-size: 2em }
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
    font-family: 'Yanone Kaffeesatz', arial, serif;
}

h3, h4, h5, h6 { margin-top: .8em; }

hr { border: 2px solid #888888; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: #C74350;
	padding: 0 1px;
	text-decoration: underline;
}
a:hover, a:active {
	background-color: #f00;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}

h1 a:hover {
    background-color: inherit
}

/* Paragraphs */
div.line-block,
p { margin-top: 1em;
    margin-bottom: 1em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 0em 0 0 0em;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 0;
}

li { margin-top: 0.5em;
     margin-bottom: 1em; }

.post-info {
    float:right;
    margin:10px;
    padding:5px;
}

.post-info p{
    margin-top: 1px;
    margin-bottom: 1px;
}

.readmore { float: right }

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

pre{background-color:  rgb(238, 238, 238); padding: 10px; margin: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    font-style: italic;
}
cite {}

q {}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

	/* Thead */
	thead th {padding: .5em .4em; text-align: left;}
	thead td {}

	/* Tbody */
	tbody td {padding: .5em .4em;}
	tbody th {}

	tbody .alt td {}
	tbody .alt th {}

	/* Tfoot */
	tfoot th {}
	tfoot td {}

/* HTML5 tags */
section,
aside, article, figure {
	display: block;
}
nav { display:inline}

/***** Layout *****/
.body {clear: both; margin: 0 auto; width:100%;}
img { max-width: 100%; }
img.right, figure.right, div.figure.align-right {
    float: right;
    margin: 0 0 2em 2em;
}
img.left, figure.left, div.figure.align-left {
    float: left;
    margin: 0 2em 2em 0;
}

/* .rst support */
div.figure img, figure img {  /* to fill figure exactly */
    max-width: 100%;
}
div.figure p.caption, figure p.caption { /* margin provided by figure */
    margin-top: 0;
    margin-bottom: 0;
}
/* main body of pages */
main {
	background: rgba(0,0,0,0);
	margin: 65px auto ;
	overflow: hidden;
	/* padding: 20px; */
	min-width: 50%;
	max-width: 1080px;
	font-size:100%;
	display:block;
	line-height = 1.8;

	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;	 /*10befroe*/
}
	main > div {
		display:block;
	}
	main > div figure {
		max-width=500px;
		float:right;
	}
	main > div figure figcaption {
		text-align:center;
	}
	main >postlist {
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:center;

	}
	main >postlist div{
		width:200px;
		margin: 0.5em;
		text-align:center;
	}
/*
	Header
*****************/
header {
	display: flex;
	position: fixed; /* 设置位置固定*/
	top:0;			/*置于顶层*/
	opacity:1;		/*不透明 */
	height:55px;
	width:100%;
	padding:10px 10px 0 10px;
	background: #2f2f2f;
	box-shadow: 3px 3px 12px rgba(12,12,12,0.5);	
	
}	
	header>nav {
		background: rgba(0,0,0,0);
		font-size:1.25em;
		overflow: hidden;
		display:flex;

		flex-direction:row;
		flex-wrap:nowrap;
		flex:1 0 auto;

		justify-content:space-between;
		
		box-sizing:border-box;

		/* margin: 0 auto 2em auto; */
		width: auto;
		height:3em;
		/* margin: auto;*/
		vertical-align:top;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius:0;
	}

	header > nav ul {
		list-style: none;
		margin-left:auto;
		height:60px;
	}
	header > nav li {display: inline-block; height:100%;vertical-align:bottom;}


	header > nav a:link, header > nav a:visited {
		color: #fff;
		display: inline-block;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	header >  nav a:active,
	header > nav .active a:link, header > nav .active a:visited {
		background: #F00;
		text-shadow: none !important;
	}
	header > nav a:hover{
		background:#000;
	}
	header>nav .selected a:link, header > nav .active a:visited {
		background: #f00;
		text-shadow: none !important;
	}

/*
 * 帖子展示页面
 */
postinfo {
	display: flex;
	padding:10px 10px 0 10px;
	background: rgba(0,0,0,0);
	box-shadow: 3px 3px 12px rgba(12,12,12,0.5);	
	
}	
	postinfo>nav {
		background: rgba(0,0,0,0);
		font-size:1.25em;
		overflow: hidden;
		display:flex;

		flex-direction:row;
		flex-wrap:nowrap;
		flex:1 0 auto;

		/* justify-content:space-between;
		
		box-sizing:border-box;*/

		/* margin: 0 auto 2em auto; */
		width: auto;
		height:3em;
		/* margin: auto;*/
		vertical-align:top;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius:0;
	}

	postinfo > nav ul {
		list-style: none;
		margin-left:auto;
		height:60px;
	}
	postinfo > nav li {
		width:200px;
		height:200px;
		display: block; 
		vertical-align:bottom;
	}


	postinfo > nav a:link, postinfo > nav a:visited {
		color: #fff;
		display: inline-block;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	postinfo >  nav a:active,
	postinfo > nav .active a:link, postinfo > nav .active a:visited {
		background: #F00;
		text-shadow: none !important;
	}
	postinfo > nav a:hover{
		background:#000;
	}
	postinfo>nav .selected a:link, postinfo > nav .active a:visited {
		background: #f00;
		text-shadow: none !important;
	}

/* 移植到header */
#banner {		
	/* margin: 0 auto; */
	padding: 10px 10px 0 10px;
	height:55px;
}

	/* Banner */
	#banner h1 {
		font-size: 3.571em;
		line-height: 1.0;
		margin-bottom: .3em;
	}

	#banner h1 a:link, #banner h1 a:visited {
		color: #000305;
		display: block;
		font-weight: bold;
		margin: 0 0 0 .2em;
		text-decoration: none;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;

	}

	#banner h1 strong {font-size: 0.36em; font-weight: normal;}

	/* Main Nav */
	#banner nav {
		background: rgba(0,0,0,0);
		font-size:1.25em;
		overflow: hidden;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:space-between;

		/* margin: 0 auto 2em auto; */
		width: auto;
		height:3em;
		/* margin: auto;*/
		vertical-align:top;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius:0;
	}

	#banner nav ul {
		list-style: none;
		margin-left:auto;
		height:60px;
	}
	#banner nav li {display: inline-block; height:100%;vertical-align:bottom;}


	#banner nav a:link, #banner nav a:visited {
		color: #fff;
		display: inline-block;
		padding: 5px 1.5em;
		text-decoration: none;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		background: #F00;
		text-shadow: none !important;
	}
	#banner nav .selected a:link, #banner nav .active a:visited {
		background: #f00;
		text-shadow: none !important;
	}

	/* 圆角设置
	#banner nav li:first-child a {
		border-top-left-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-webkit-border-top-left-radius: 5px;

		border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		-webkit-border-bottom-left-radius: 5px;
	}
	*/

/*
	Featured
*****************/
#featured {
	background: rgba(0,0,0,0);
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	max-width: 1080px;

	border-radius: 0px;	 /*10befroe*/
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

#featured figure {
	float: right;
	margin: 0.786em 2em 0 5em;
	max-width: 248px;
}
#featured figure img {display: block; float: right;}

#featured h2 {color: #C74451; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/*
	Body
*****************/
#content {
	background: rgba(0,0,0,0);
	margin-bottom: 2em;
	overflow: hidden;
}

/*
	Extras
*****************/
#extras {
	margin: -2 auto 0em auto; 
	overflow: hidden;
}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
	color: #C74350;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	color: #F4E3E3;
	/*display: block;*/
	border-bottom: 1px solid #F4E3E3;
	text-decoration: none;
	padding: .3em .25em;
	overflow:hidden;
}

#extras a:hover, #extras a:active {color: #2f2f2f;}

	/* Blogroll */
	#extras .blogroll{
		display:block;
	}
	#extras .blogroll figure{
		float: left;
		color:#fff;
		border-style:solid;
		border-color:#fff;
		border-width:2px;
		margin:1em;
	}
	#extras .blogroll figure img{
		width: 200px;
		height: 250px;
		border-style:solid;
		border-color:#fff;
		border-width:2px;
	}

	/*#extras .blogroll li {float: left; margin: 0 10px 0 10px; max-width: 185px;} */
	#extras .blogroll ul {
		display:inline-block;
		flex-direction:row;
		height:100%;
	} 
	#extras .blogroll li {
		width: 200px;
		height: 250px;
		border-style:solid;
		border-color:#fff;
		border-width:2px;
		margin:1em;
		margin: 0 10px 0 10px; 
	} 

	/* Social */
	#extras .social {
		float: right;
		max-width: 175px;
	}
	/* Sponsors */
	#extras .sponsors{
		text-align:center;
		max-width: 100%;
		color:#fff;
		background:#f00;
		display:block;
	}
	#extras .sponsors ul {display:inline;text-align:center;}
	#extras .sponsors li {
		width:175px;
		max-width:175px;
		height:50px;
		border:solid;
		border-color:#fff;
	}
	#extras h2 {
		color: #C74350;
		font-size: 2em;
		margin-bottom: .25em;
		padding: 2px 3px;
	}
	/* Copyright */
	#extras .copyright{
		color:#fff;
	}
	#extras .copyright a:link, #extras .copyright a:visited {
		/* color: #F4E3E3; */
		/*display: block;*/
		border-bottom: 1px solid #F4E3E3;
		text-decoration: none;
		padding: .3em .25em;
		overflow:hidden;

	}
	#extras .copyright a:hover  {background:#000;color:#fff;}
	#extras .copyright ul {margin: 0;}
	#extras .copyright li {text-align:center;border-bottom: none;}


/*
	About
*****************/
#about {
	background: #fff;
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	max-width: 760px;

	border-radius: 0px;/*10pxbefore*/
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

#about .primary {float: left; max-width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; max-width: 500px;}

/*
	Footer
*****************/
footer{
	width:100%;
	background:#2f2f2f;
	padding:0 0 0.5em 0;

}
#contentinfo {padding-bottom: 2em; text-align: right;}

/***** Sections *****/
/* Blog */
.hentry {
	display: block;
	clear: both;
	border-top: 1px solid #eee;
	padding: 1.5em 0;
}
li:first-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
.hentry img{display : none ;}
.entry-title {font-size: 3em; margin-bottom: 10px; margin-top: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #333;}
.entry-title a:visited {background-color: #fff;}

.hentry .post-info * {font-style: normal;}

	/* Content */
	.hentry footer {margin-bottom: 2em;}
	.hentry footer address {display: inline;}
	#posts-list footer address {display: block;}

	/* Blog Index */
	#posts-list {list-style: none; margin: 0;}
	#posts-list .hentry {padding-left: 10px; position: relative;}

	#posts-list footer {
		left: 10px;
		position: relative;
        float: left;
		top: 0.5em;
		max-width: 190px;
	}

	/* About the Author */
	#about-author {
		background: #f9f9f9;
		clear: both;
		font-style: normal;
		margin: 2em 0;
		padding: 10px 20px 15px 20px;

		border-radius: 0px;	/*5px before*/
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
	}

	#about-author strong {
		color: #C64350;
		clear: both;
		display: block;
		font-size: 1.429em;
	}

	#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}

	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;

		border-radius: 0px;	 /* 5px before */
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
	}
	#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}

	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}

	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; max-width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; max-width: 200px;}

	#add-comment textarea {float: left; height: 150px; max-width: 495px;}

	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}

	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}
