<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
	{% block head %}
	{% include './component/meta_config.html' %}
	<title>{% block title %}{{ SITENAME|striptags }}-HomePage{%endblock%}</title>
	<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
	{% include './component/feed_config.html' %}
    {% block extra_head %}{% endblock extra_head %}
    {% endblock head %}
</head>

	<body id="index" class="home">

		{% include './component/header.html' %}
		<div style="text-align:center;height:50px;width:100%;"><h1>Luban Robotic, Team 9597 of FRC</h1></div>
		<hr/>
		{% block content %}{% endblock %} {# redefined in each subpages #}
		{% include './component/footer.html' %}{# footer #}
		{# 加载js #}
	</body>
</html>
