<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
	{% block head %}
	{% include './component/meta_config.html' %}
	<title>{% block title %}{{ SITENAME|striptags }}-HomePage{%endblock%}</title>
	<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
	{% include './component/feed_config.html' %}
    {% block extra_head %}{% endblock extra_head %}
    {% endblock head %}
</head>

<body id="index" class="home">
	{% include './component/github.html' %}
	{% include './component/header.html' %}
	{% block content %}{% endblock %} <!-- redefined in each subpages -->
    <section id="extras" class="body">
		{% if LINKS %}
			<div class="blogroll">
				<h2>{{ LINKS_WIDGET_NAME | default('links') }}</h2>
                <ul>
					{% for name, link in LINKS %}
						<li><a href="{{ link }}">{{ name }}</a></li>
                    {% endfor %}
                 </ul>
             </div><!-- /.blogroll -->
        {% endif %}
        {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
			<div class="social">
				<h2>{{ SOCIAL_WIDGET_NAME | default('social') }}</h2>
                <ul>
				{% if FEED_ALL_ATOM %}
					<li>
						<a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate">
							atom feed
						</a>
					</li>
                {% endif %}
        {% if FEED_ALL_RSS %}
			<li>
				<a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate">rss feed
				</a>
			</li>
        {% endif %}
        {% for name, link in SOCIAL %}
			<li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
	</ul>
                </div><!-- /.social -->
        {% endif %}
        </section><!-- /#extras -->


		{% include './component/footer.html' %}
{% include 'analytics.html' %}
{% include 'disqus_script.html' %}
{# 加载js #}
<script src="/js/header.js"></script>
</body>
</html>
