<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
	{% block head %}
	{% include './component/meta_config.html' %}
	<title>{% block title %}{{ SITENAME|striptags }}-HomePage{%endblock%}</title>
	<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
	{% include './component/feed_config.html' %}
    {% block extra_head %}{% endblock extra_head %}
    {% endblock head %}
</head>
<body id="index" class="home">
	<header>{% include './component/header.html' %}</header>
	<main>{% block content %}{% endblock %}</main>
	{# Footer #}{% include './component/footer.html' %}{# footer #}
	{# JS #}
</body>

</html>
