{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

{% if articles %} {# 框架 #}
	{# 第一篇文章 #}
	{% for article in articles_page.object_list %}	{# 框架 #}
		{# index页面 
		--文章必须位于Home Page目录下
		--文章titleb必须以为其所在分类的分类名
		--meta元素(标签)提供用以布局的内容信息
		#}
		{% if not category  %} {# 确定当前页面是主页 #} 
			{% if article.category == 'Home Page' %} 
				{% if article.title ==  'Home Page' %}
					{% include './component/mainpage_header.html' %}
				{# 为后续升级保留模板 #}
				{# else %}{% if article.title =='Home_Page_Extra' %}
					{% include '/component/home_page_extra.html' #}
				{% endif %}
			{% endif %}
	{# 其他页面第一篇文章 #}
		{% else %}
			{% if article.category == category %}
				{% if article.title == category %}
					{% include './component/mainpage_header.html' %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %} {# 框架 #}
	{# 页面的其他部分 #}
{% endif %} {# 框架 #}

{# Blogroll #}
<postlist>
{% if articles %} {# 框架 #}
	{% for article in articles_page.object_list %}	{# 框架 #}
		{% if article.category == category and article.title != category %}
		<div>{% include './component/blogroll.html' %}</div>
		{% endif %}
	{% endfor %} {# 框架 #}
{% endif %} {# 框架 #}
</postlist>
	{% if 0 %}
<postlist>
	<nav><ul>
{% if articles %} {# 框架 #}
	{% for article in articles_page.object_list %}	{# 框架 #}
		{% if article.category == category and article.title != category %}
		<li>{% include './component/blogroll.html' %}</li>
		{% endif %}
	{% endfor %} {# 框架 #}
{% endif %} {# 框架 #}
	</nav></ul>
<postlist>
	{% endif %}

{% endblock content %}
