{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}

{% if articles %} {# 框架 #}
	{# 第一篇文章 #}
	{% for article in articles_page.object_list %}	{# 框架 #}
		{# index页面 
		--文章必须位于Home Page目录下
		--文章titleb必须以为其所在分类的分类名
		--meta元素(标签)提供用以布局的内容信息
		#}
		{% if not category  %} {# 确定当前页面是主页 #} 
			{% if article.category == 'Home Page' %} 
				{% if article.title ==  'Home Page' %}
					{% include './component/home_page.html' %}
				{# 为后续升级保留模板 #}
				{# else %}{% if article.title =='Home_Page_Extra' %}
					{% include '/component/home_page_extra.html' #}
				{% endif %}
			{% endif %}
	{# 其他页面第一篇文章 #}
		{% else %}
			{% if article.category == category %}
				{% if article.title == category %}
					<aside id="featured" class="body">
						<article>{{ article.content }}</article>
					</aside><!-- /#featured -->
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %} {# 框架 #}
{% endif %} {# 框架 #}

{% endblock content %}
